* {
    margin: 0;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    box-sizing: border-box;

    --primary-bg-color: #222222;
    --primary-color:#dee2e6;
    --secondary-bg-color: #375a7f;
    --secondary-color: #ffffff;
    --tertiary-bg-color: #adb5bd;
    --tertiary-color: #222227;

    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}

#content {
    display: flex;
    flex-direction: column;

}

div:not(#content) {
    padding: 16px;
}

.main {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
}

h1 {
    font-size: 64px;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    background-color: inherit;
}

nav {
    display: flex;
    gap: 16px;
    justify-content: center;
}

div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    padding: 16px;
    background-color: inherit;
    color: inherit;

}

button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: var(--tertiary-bg-color);
    color: var(--tertiary-color);
}

input {
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
}

.emphasis {
    background-color: var(--tertiary-bg-color);
    color: var(--tertiary-color);

}